/*!
   Theme: Agate
   Author: (c) Taufik Nurrohman <hi@taufik-nurrohman.com>
   Maintainer: @taufik-nurrohman
   Updated: 2021-04-24

   #333
   #62c8f3
   #7bd694
   #888
   #a2fca2
   #ade5fc
   #b8d8a2
   #c6b4f0
   #d36363
   #fc9b9b
   #fcc28c
   #ffa
   #fff
*/

body .hljs {
  background: #333;
  color: #fff;
}

body .hljs-doctag,
body .hljs-meta-keyword,
body .hljs-name,
body .hljs-strong {
  font-weight: bold;
}

body .hljs-code,
body .hljs-emphasis {
  font-style: italic;
}

body .hljs-section,
body .hljs-tag {
  color: #62c8f3;
}

body .hljs-selector-class,
body .hljs-selector-id,
body .hljs-template-variable,
body .hljs-variable {
  color: #ade5fc;
}

body .hljs-meta-string,
body .hljs-string {
  color: #a2fca2;
}

body .hljs-attr,
body .hljs-quote,
body .hljs-selector-attr {
  color: #7bd694;
}

body .hljs-tag .hljs-attr {
  color: inherit;
}

body .hljs-attribute,
body .hljs-title,
body .hljs-type {
  color: #ffa;
}

body .hljs-number,
body .hljs-symbol {
  color: #d36363;
}

body .hljs-bullet,
body .hljs-template-tag {
  color: #b8d8a2;
}

body .hljs-built_in,
body .hljs-keyword,
body .hljs-literal,
body .hljs-selector-tag {
  color: #fcc28c;
}

body .hljs-code,
body .hljs-comment,
body .hljs-formula {
  color: #888;
}

body .hljs-link,
body .hljs-selector-pseudo,
body .hljs-regexp {
  color: #c6b4f0;
}

body .hljs-meta {
  color: #fc9b9b;
}

body .hljs-deletion {
  background: #fc9b9b;
  color: #333;
}

body .hljs-addition {
  background: #a2fca2;
  color: #333;
}

/* Purposely ignored */
body .hljs-operator,
body .hljs-params,
body .hljs-property,
body .hljs-punctuation {}

body .hljs-subst {
  color: #fff;
}

/* This applies only if HTML auto-merging plugin is enabled by user (#2889) */
body .hljs a {
  color: inherit;
}

body .hljs a:focus,
body .hljs a:hover {
  color: inherit;
  text-decoration: underline;
}

body .hljs mark {
  background: #555;
  color: inherit;
}
