/*!
  Theme: An Old Hope – Star Wars Syntax
  Author: (c) Gustavo Costa <gusbemacbe@gmail.com>
  Maintainer: @gusbemacbe

  Original theme - Ocean Dark Theme – by https://github.com/gavsiu
  Based on Jesse Leite's Atom syntax theme 'An Old Hope'
    https://github.com/JesseLeite/an-old-hope-syntax-atom
*/

/* Millenium Falcon */
body .hljs
{
  background: #1C1D21;
  color: #c0c5ce;
}

/* Death Star Comment */
body .hljs-comment,
body .hljs-quote
{
  color: #B6B18B;
}

/* Darth Vader */
body .hljs-variable,
body .hljs-template-variable,
body .hljs-tag,
body .hljs-name,
body .hljs-selector-id,
body .hljs-selector-class,
body .hljs-regexp,
body .hljs-deletion
{
  color: #EB3C54;
}

/* Threepio */
body .hljs-number,
body .hljs-built_in,
body .hljs-literal,
body .hljs-type,
body .hljs-params,
body .hljs-meta,
body .hljs-link
{
  color: #E7CE56;
}

/* Luke Skywalker */
body .hljs-attribute
{
  color: #EE7C2B;
}

/* Obi Wan Kenobi */
body .hljs-string,
body .hljs-symbol,
body .hljs-bullet,
body .hljs-addition
{
  color: #4FB4D7;
}

/* Yoda */
body .hljs-title,
body .hljs-section
{
  color: #78BB65;
}

/* Mace Windu */
body .hljs-keyword,
body .hljs-selector-tag
{
  color: #B45EA4;
}

body .hljs-emphasis
{
  font-style: italic;
}

body .hljs-strong
{
  font-weight: bold;
}
