/*
Date: 24 Fev 2015
Author: Pedro Oliveira <kanytu@gmail . com>
*/

body .hljs {
  color: #a9b7c6;
  background: #282b2e;
}

body .hljs-number,
body .hljs-literal,
body .hljs-symbol,
body .hljs-bullet {
  color: #6897BB;
}

body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-deletion {
  color: #cc7832;
}

body .hljs-variable,
body .hljs-template-variable,
body .hljs-link {
  color: #629755;
}

body .hljs-comment,
body .hljs-quote {
  color: #808080;
}

body .hljs-meta {
  color: #bbb529;
}

body .hljs-string,
body .hljs-attribute,
body .hljs-addition {
  color: #6A8759;
}

body .hljs-section,
body .hljs-title,
body .hljs-type {
  color: #ffc66d;
}

body .hljs-name,
body .hljs-selector-id,
body .hljs-selector-class {
  color: #e8bf6a;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
