/*

Arduino® Light Theme - Stefania Mellai <s.mellai@arduino.cc>

*/

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #ffffff;
}

body .hljs,
body .hljs-subst {
  color: #434f54;
}

body .hljs-keyword,
body .hljs-attribute,
body .hljs-selector-tag,
body .hljs-doctag,
body .hljs-name {
  color: #00979d;
}

body .hljs-built_in,
body .hljs-literal,
body .hljs-bullet,
body .hljs-code,
body .hljs-addition {
  color: #d35400;
}

body .hljs-regexp,
body .hljs-symbol,
body .hljs-variable,
body .hljs-template-variable,
body .hljs-link,
body .hljs-selector-attr,
body .hljs-selector-pseudo {
  color: #00979d;
}

body .hljs-type,
body .hljs-string,
body .hljs-selector-id,
body .hljs-selector-class,
body .hljs-quote,
body .hljs-template-tag,
body .hljs-deletion {
  color: #005c5f;
}

body .hljs-title,
body .hljs-section {
  color: #880000;
  font-weight: bold;
}

body .hljs-comment {
  color: rgba(149, 165, 166, 0.8);
}

body .hljs-meta-keyword {
  color: #728e00;
}

body .hljs-meta {
  color: #434f54;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}

body .hljs-function {
  color: #728e00;
}

body .hljs-number {
  color: #8a7b52;
}
