/*

Arduino® Light Theme - Stefania Mellai <s.mellai@arduino.cc>

*/

body .hljs {
  background: white;
  color: #434f54;
}

body .hljs-subst {
  color: #434f54;
}

body .hljs-keyword,
body .hljs-attribute,
body .hljs-selector-tag,
body .hljs-doctag,
body .hljs-name {
  color: #00979D;
}

body .hljs-built_in,
body .hljs-literal,
body .hljs-bullet,
body .hljs-code,
body .hljs-addition {
  color: #D35400;
}

body .hljs-regexp,
body .hljs-symbol,
body .hljs-variable,
body .hljs-template-variable,
body .hljs-link,
body .hljs-selector-attr,
body .hljs-selector-pseudo {
  color: #00979D;
}

body .hljs-type,
body .hljs-string,
body .hljs-selector-id,
body .hljs-selector-class,
body .hljs-quote,
body .hljs-template-tag,
body .hljs-deletion {
  color: #005C5F;
}

body .hljs-comment {
  color: rgba(149,165,166,.8);
}

body .hljs-meta .hljs-keyword {

  color: #728E00;
}

body .hljs-meta {
  color: #434f54;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}

body .hljs-function {
  color: #728E00;
}

body .hljs-title,
body .hljs-section {
  color: #880000;
  font-weight: bold;
}

body .hljs-number {
  color: #8A7B52;
}
