/*
Date: 17.V.2011
Author: pumbur <pumbur@pumbur.net>
*/

body .hljs {
  background: #222;
  color: #aaa;
}

body .hljs-subst {
  color: #aaa;
}

body .hljs-section {
  color: #fff;
}

body .hljs-comment,
body .hljs-quote,
body .hljs-meta {
  color: #444;
}

body .hljs-string,
body .hljs-symbol,
body .hljs-bullet,
body .hljs-regexp {
  color: #ffcc33;
}

body .hljs-number,
body .hljs-addition {
  color: #00cc66;
}

body .hljs-built_in,
body .hljs-literal,
body .hljs-type,
body .hljs-template-variable,
body .hljs-attribute,
body .hljs-link {
  color: #32aaee;
}

body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-name,
body .hljs-selector-id,
body .hljs-selector-class {
  color: #6644aa;
}

body .hljs-title,
body .hljs-variable,
body .hljs-deletion,
body .hljs-template-tag {
  color: #bb1166;
}

body .hljs-section,
body .hljs-doctag,
body .hljs-strong {
  font-weight: bold;
}

body .hljs-emphasis {
  font-style: italic;
}
