/*

Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: white;
  color: black;
}

body .hljs-string,
body .hljs-variable,
body .hljs-template-variable,
body .hljs-symbol,
body .hljs-bullet,
body .hljs-section,
body .hljs-addition,
body .hljs-attribute,
body .hljs-link {
  color: #888;
}

body .hljs-comment,
body .hljs-quote,
body .hljs-meta,
body .hljs-deletion {
  color: #ccc;
}

body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-section,
body .hljs-name,
body .hljs-type,
body .hljs-strong {
  font-weight: bold;
}

body .hljs-emphasis {
  font-style: italic;
}
