/* Base16 Atelier Lakeside Light - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/lakeside) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Lakeside Comment */
body .hljs-comment,
body .hljs-quote {
  color: #5a7b8c;
}

/* Atelier-Lakeside Red */
body .hljs-variable,
body .hljs-template-variable,
body .hljs-attribute,
body .hljs-tag,
body .hljs-name,
body .hljs-regexp,
body .hljs-link,
body .hljs-name,
body .hljs-selector-id,
body .hljs-selector-class {
  color: #d22d72;
}

/* Atelier-Lakeside Orange */
body .hljs-number,
body .hljs-meta,
body .hljs-built_in,
body .hljs-builtin-name,
body .hljs-literal,
body .hljs-type,
body .hljs-params {
  color: #935c25;
}

/* Atelier-Lakeside Green */
body .hljs-string,
body .hljs-symbol,
body .hljs-bullet {
  color: #568c3b;
}

/* Atelier-Lakeside Blue */
body .hljs-title,
body .hljs-section {
  color: #257fad;
}

/* Atelier-Lakeside Purple */
body .hljs-keyword,
body .hljs-selector-tag {
  color: #6b6bb8;
}

body .hljs {
  display: block;
  overflow-x: auto;
  background: #ebf8ff;
  color: #516d7b;
  padding: 0.5em;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
