/* Base16 Atelier Dune Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/dune) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Dune Comment */
body .hljs-comment,
body .hljs-quote {
  color: #999580;
}

/* Atelier-Dune Red */
body .hljs-variable,
body .hljs-template-variable,
body .hljs-attribute,
body .hljs-tag,
body .hljs-name,
body .hljs-regexp,
body .hljs-link,
body .hljs-name,
body .hljs-selector-id,
body .hljs-selector-class {
  color: #d73737;
}

/* Atelier-Dune Orange */
body .hljs-number,
body .hljs-meta,
body .hljs-built_in,
body .hljs-builtin-name,
body .hljs-literal,
body .hljs-type,
body .hljs-params {
  color: #b65611;
}

/* Atelier-Dune Green */
body .hljs-string,
body .hljs-symbol,
body .hljs-bullet {
  color: #60ac39;
}

/* Atelier-Dune Blue */
body .hljs-title,
body .hljs-section {
  color: #6684e1;
}

/* Atelier-Dune Purple */
body .hljs-keyword,
body .hljs-selector-tag {
  color: #b854d4;
}

body .hljs {
  display: block;
  overflow-x: auto;
  background: #20201d;
  color: #a6a28c;
  padding: 0.5em;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
