/* Base16 Atelier Cave Light - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/cave) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Cave Comment */
body .hljs-comment,
body .hljs-quote {
  color: #655f6d;
}

/* Atelier-Cave Red */
body .hljs-variable,
body .hljs-template-variable,
body .hljs-attribute,
body .hljs-tag,
body .hljs-name,
body .hljs-regexp,
body .hljs-link,
body .hljs-name,
body .hljs-name,
body .hljs-selector-id,
body .hljs-selector-class {
  color: #be4678;
}

/* Atelier-Cave Orange */
body .hljs-number,
body .hljs-meta,
body .hljs-built_in,
body .hljs-builtin-name,
body .hljs-literal,
body .hljs-type,
body .hljs-params {
  color: #aa573c;
}

/* Atelier-Cave Green */
body .hljs-string,
body .hljs-symbol,
body .hljs-bullet {
  color: #2a9292;
}

/* Atelier-Cave Blue */
body .hljs-title,
body .hljs-section {
  color: #576ddb;
}

/* Atelier-Cave Purple */
body .hljs-keyword,
body .hljs-selector-tag {
  color: #955ae7;
}

body .hljs-deletion,
body .hljs-addition {
  color: #19171c;
  display: inline-block;
  width: 100%;
}

body .hljs-deletion {
  background-color: #be4678;
}

body .hljs-addition {
  background-color: #2a9292;
}

body .hljs {
  display: block;
  overflow-x: auto;
  background: #efecf4;
  color: #585260;
  padding: 0.5em;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
