/* Base16 Atelier Estuary Light - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/estuary) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Estuary Comment */
body .hljs-comment,
body .hljs-quote {
  color: #6c6b5a;
}

/* Atelier-Estuary Red */
body .hljs-variable,
body .hljs-template-variable,
body .hljs-attribute,
body .hljs-tag,
body .hljs-name,
body .hljs-regexp,
body .hljs-link,
body .hljs-name,
body .hljs-selector-id,
body .hljs-selector-class {
  color: #ba6236;
}

/* Atelier-Estuary Orange */
body .hljs-number,
body .hljs-meta,
body .hljs-built_in,
body .hljs-builtin-name,
body .hljs-literal,
body .hljs-type,
body .hljs-params {
  color: #ae7313;
}

/* Atelier-Estuary Green */
body .hljs-string,
body .hljs-symbol,
body .hljs-bullet {
  color: #7d9726;
}

/* Atelier-Estuary Blue */
body .hljs-title,
body .hljs-section {
  color: #36a166;
}

/* Atelier-Estuary Purple */
body .hljs-keyword,
body .hljs-selector-tag {
  color: #5f9182;
}

body .hljs-deletion,
body .hljs-addition {
  color: #22221b;
  display: inline-block;
  width: 100%;
}

body .hljs-deletion {
  background-color: #ba6236;
}

body .hljs-addition {
  background-color: #7d9726;
}

body .hljs {
  display: block;
  overflow-x: auto;
  background: #f4f3ec;
  color: #5f5e4e;
  padding: 0.5em;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
