/* Base16 Atelier Plateau Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/plateau) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Plateau Comment */
body .hljs-comment,
body .hljs-quote {
  color: #7e7777;
}

/* Atelier-Plateau Red */
body .hljs-variable,
body .hljs-template-variable,
body .hljs-attribute,
body .hljs-tag,
body .hljs-name,
body .hljs-regexp,
body .hljs-link,
body .hljs-name,
body .hljs-selector-id,
body .hljs-selector-class {
  color: #ca4949;
}

/* Atelier-Plateau Orange */
body .hljs-number,
body .hljs-meta,
body .hljs-built_in,
body .hljs-builtin-name,
body .hljs-literal,
body .hljs-type,
body .hljs-params {
  color: #b45a3c;
}

/* Atelier-Plateau Green */
body .hljs-string,
body .hljs-symbol,
body .hljs-bullet {
  color: #4b8b8b;
}

/* Atelier-Plateau Blue */
body .hljs-title,
body .hljs-section {
  color: #7272ca;
}

/* Atelier-Plateau Purple */
body .hljs-keyword,
body .hljs-selector-tag {
  color: #8464c4;
}

body .hljs-deletion,
body .hljs-addition {
  color: #1b1818;
  display: inline-block;
  width: 100%;
}

body .hljs-deletion {
  background-color: #ca4949;
}

body .hljs-addition {
  background-color: #4b8b8b;
}

body .hljs {
  display: block;
  overflow-x: auto;
  background: #1b1818;
  color: #8a8585;
  padding: 0.5em;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
