/*

Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401

*/

body .hljs {
  color: #383a42;
  background: #fafafa;
}

body .hljs-comment,
body .hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

body .hljs-doctag,
body .hljs-keyword,
body .hljs-formula {
  color: #a626a4;
}

body .hljs-section,
body .hljs-name,
body .hljs-selector-tag,
body .hljs-deletion,
body .hljs-subst {
  color: #e45649;
}

body .hljs-literal {
  color: #0184bb;
}

body .hljs-string,
body .hljs-regexp,
body .hljs-addition,
body .hljs-attribute,
body .hljs-meta .hljs-string {
  color: #50a14f;
}

body .hljs-attr,
body .hljs-variable,
body .hljs-template-variable,
body .hljs-type,
body .hljs-selector-class,
body .hljs-selector-attr,
body .hljs-selector-pseudo,
body .hljs-number {
  color: #986801;
}

body .hljs-symbol,
body .hljs-bullet,
body .hljs-link,
body .hljs-meta,
body .hljs-selector-id,
body .hljs-title {
  color: #4078f2;
}

body .hljs-built_in,
body .hljs-title.class_,
body .hljs-class .hljs-title {
  color: #c18401;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}

body .hljs-link {
  text-decoration: underline;
}
