/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

body .hljs {
  color: #abb2bf;
  background: #282c34;
}

body .hljs-comment,
body .hljs-quote {
  color: #5c6370;
  font-style: italic;
}

body .hljs-doctag,
body .hljs-keyword,
body .hljs-formula {
  color: #c678dd;
}

body .hljs-section,
body .hljs-name,
body .hljs-selector-tag,
body .hljs-deletion,
body .hljs-subst {
  color: #e06c75;
}

body .hljs-literal {
  color: #56b6c2;
}

body .hljs-string,
body .hljs-regexp,
body .hljs-addition,
body .hljs-attribute,
body .hljs-meta .hljs-string {
  color: #98c379;
}

body .hljs-attr,
body .hljs-variable,
body .hljs-template-variable,
body .hljs-type,
body .hljs-selector-class,
body .hljs-selector-attr,
body .hljs-selector-pseudo,
body .hljs-number {
  color: #d19a66;
}

body .hljs-symbol,
body .hljs-bullet,
body .hljs-link,
body .hljs-meta,
body .hljs-selector-id,
body .hljs-title {
  color: #61aeee;
}

body .hljs-built_in,
body .hljs-title.class_,
body .hljs-class .hljs-title {
  color: #e6c07b;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}

body .hljs-link {
  text-decoration: underline;
}
