/*
  codepen.io Embed Theme
  Author: Justin Perry <http://github.com/ourmaninamsterdam>
  Original theme - https://github.com/chriskempson/tomorrow-theme
*/

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #222;
  color: #fff;
}

body .hljs-comment,
body .hljs-quote {
  color: #777;
}

body .hljs-variable,
body .hljs-template-variable,
body .hljs-tag,
body .hljs-regexp,
body .hljs-meta,
body .hljs-number,
body .hljs-built_in,
body .hljs-builtin-name,
body .hljs-literal,
body .hljs-params,
body .hljs-symbol,
body .hljs-bullet,
body .hljs-link,
body .hljs-deletion {
  color: #ab875d;
}

body .hljs-section,
body .hljs-title,
body .hljs-name,
body .hljs-selector-id,
body .hljs-selector-class,
body .hljs-type,
body .hljs-attribute {
  color: #9b869b;
}

body .hljs-string,
body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-addition {
  color: #8f9c6c;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
