/*

Colorbrewer theme
Original: https://github.com/mbostock/colorbrewer-theme (c) Mike Bostock <mike@ocks.org>
Ported by Fabrício Tavares de Oliveira

*/

body .hljs {
  color: #000;
  background: #fff;
}

body .hljs-subst {
  /* default */
}

body .hljs-string,
body .hljs-meta,
body .hljs-symbol,
body .hljs-template-tag,
body .hljs-template-variable,
body .hljs-addition {
  color: #756bb1;
}

body .hljs-comment,
body .hljs-quote {
  color: #636363;
}

body .hljs-number,
body .hljs-regexp,
body .hljs-literal,
body .hljs-bullet,
body .hljs-link {
  color: #31a354;
}

body .hljs-deletion,
body .hljs-variable {
  color: #88f;
}



body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-title,
body .hljs-section,
body .hljs-built_in,
body .hljs-doctag,
body .hljs-type,
body .hljs-tag,
body .hljs-name,
body .hljs-selector-id,
body .hljs-selector-class,
body .hljs-strong {
  color: #3182bd;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-attribute {
  color: #e6550d;
}
