/*

Darcula color scheme from the JetBrains family of IDEs

*/

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #2b2b2b;
  color: #bababa;
}

body .hljs-strong,
body .hljs-emphasis {
  color: #a8a8a2;
}

body .hljs-bullet,
body .hljs-quote,
body .hljs-link,
body .hljs-number,
body .hljs-regexp,
body .hljs-literal {
  color: #6896ba;
}

body .hljs-code,
body .hljs-selector-class {
  color: #a6e22e;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-section,
body .hljs-attribute,
body .hljs-name,
body .hljs-variable {
  color: #cb7832;
}

body .hljs-params {
  color: #b9b9b9;
}

body .hljs-string {
  color: #6a8759;
}

body .hljs-subst,
body .hljs-type,
body .hljs-built_in,
body .hljs-builtin-name,
body .hljs-symbol,
body .hljs-selector-id,
body .hljs-selector-attr,
body .hljs-selector-pseudo,
body .hljs-template-tag,
body .hljs-template-variable,
body .hljs-addition {
  color: #e0c46c;
}

body .hljs-comment,
body .hljs-deletion,
body .hljs-meta {
  color: #7f7f7f;
}
