/*

Dark style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #444;
}

body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-literal,
body .hljs-section,
body .hljs-link {
  color: white;
}

body .hljs,
body .hljs-subst {
  color: #ddd;
}

body .hljs-string,
body .hljs-title,
body .hljs-name,
body .hljs-type,
body .hljs-attribute,
body .hljs-symbol,
body .hljs-bullet,
body .hljs-built_in,
body .hljs-addition,
body .hljs-variable,
body .hljs-template-tag,
body .hljs-template-variable {
  color: #d88;
}

body .hljs-comment,
body .hljs-quote,
body .hljs-deletion,
body .hljs-meta {
  color: #777;
}

body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-literal,
body .hljs-title,
body .hljs-section,
body .hljs-doctag,
body .hljs-type,
body .hljs-name,
body .hljs-strong {
  font-weight: bold;
}

body .hljs-emphasis {
  font-style: italic;
}
