/*!
  Theme: Default
  Description: Original highlight.js style
  Author: (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
  Maintainer: @highlightjs/core-team
  Website: https://highlightjs.org/
  License: see project LICENSE
  Touched: 2021
*/

/*
This is left on purpose making default.css the single file that can be lifted
as-is from the repository directly without the need for a build step

Typically this "required" baseline CSS is added by `makestuff.js` during build.
*/
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
}
/* end baseline CSS */

body .hljs {
  background: #F3F3F3;
  color: #444;
}

/* Base color: saturation 0; */

body .hljs-subst {
  /* default */
}

/* purposely ignored */
body .hljs-formula,
body .hljs-attr,
body .hljs-property,
body .hljs-params {}

body .hljs-comment {
  color: #697070;
}
body .hljs-tag,
body .hljs-punctuation {
  color: #444a;
}

body .hljs-tag .hljs-name,
body .hljs-tag .hljs-attr {
  color: #444;
}


body .hljs-keyword,
body .hljs-attribute,
body .hljs-selector-tag,
body .hljs-meta .hljs-keyword,

body .hljs-doctag,
body .hljs-name {
  font-weight: bold;
}


/* User color: hue: 0 */

body .hljs-type,
body .hljs-string,
body .hljs-number,
body .hljs-selector-id,
body .hljs-selector-class,
body .hljs-quote,
body .hljs-template-tag,
body .hljs-deletion {
  color: #880000;
}

body .hljs-title,
body .hljs-section {
  color: #880000;
  font-weight: bold;
}

body .hljs-regexp,
body .hljs-symbol,
body .hljs-variable,
body .hljs-template-variable,
body .hljs-link,
body .hljs-selector-attr,
body .hljs-operator,
body .hljs-selector-pseudo {
  color: #ab5656;
}

/* Language color: hue: 90; */

body .hljs-literal {
  color: #695;
}

body .hljs-built_in,
body .hljs-bullet,
body .hljs-code,
body .hljs-addition {
  color: #397300;
}


/* Meta color: hue: 200 */

body .hljs-meta {
  color: #1f7199;
}

body .hljs-meta .hljs-string {
  color: #38a;
}


/* Misc effects */

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
