/*

FAR Style (c) MajestiC <majestic2k@gmail.com>

*/

body .hljs {
  color: #0ff;
  background: #000080;
}


body .hljs-subst {
  /* default */
}

body .hljs-string,
body .hljs-attribute,
body .hljs-symbol,
body .hljs-bullet,
body .hljs-built_in,
body .hljs-template-tag,
body .hljs-template-variable,
body .hljs-addition {
  color: #ff0;
}

body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-section,
body .hljs-type,
body .hljs-name,
body .hljs-selector-id,
body .hljs-selector-class,
body .hljs-variable {
  color: #fff;
}

body .hljs-comment,
body .hljs-quote,
body .hljs-doctag,
body .hljs-deletion {
  color: #888;
}

body .hljs-number,
body .hljs-regexp,
body .hljs-literal,
body .hljs-link {
  color: #0f0;
}

body .hljs-meta {
  color: #008080;
}

body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-title,
body .hljs-section,
body .hljs-name,
body .hljs-strong {
  font-weight: bold;
}

body .hljs-emphasis {
  font-style: italic;
}
