/*
Description: Foundation 4 docs style for highlight.js
Author: Dan Allen <dan.j.allen@gmail.com>
Website: http://foundation.zurb.com/docs/
Version: 1.0
Date: 2013-04-02
*/

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #eee;
  color: black;
}

body .hljs-link,
body .hljs-emphasis,
body .hljs-attribute,
body .hljs-addition {
  color: #070;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong,
body .hljs-string,
body .hljs-deletion {
  color: #d14;
}

body .hljs-strong {
  font-weight: bold;
}

body .hljs-quote,
body .hljs-comment {
  color: #998;
  font-style: italic;
}

body .hljs-section,
body .hljs-title {
  color: #900;
}

body .hljs-class .hljs-title,
body .hljs-type {
  color: #458;
}

body .hljs-variable,
body .hljs-template-variable {
  color: #336699;
}

body .hljs-bullet {
  color: #997700;
}

body .hljs-meta {
  color: #3344bb;
}

body .hljs-code,
body .hljs-number,
body .hljs-literal,
body .hljs-keyword,
body .hljs-selector-tag {
  color: #099;
}

body .hljs-regexp {
  background-color: #fff0ff;
  color: #880088;
}

body .hljs-symbol {
  color: #990073;
}

body .hljs-tag,
body .hljs-name,
body .hljs-selector-id,
body .hljs-selector-class {
  color: #007700;
}
