/*!
  Theme: GitHub Dark Dimmed
  Description: Dark dimmed theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Colors taken from GitHub's CSS
*/

body .hljs {
  color: #adbac7;
  background: #22272e;
}

body .hljs-doctag,
body .hljs-keyword,
body .hljs-meta .hljs-keyword,
body .hljs-template-tag,
body .hljs-template-variable,
body .hljs-type,
body .hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #f47067;
}

body .hljs-title,
body .hljs-title.class_,
body .hljs-title.class_.inherited__,
body .hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #dcbdfb;
}

body .hljs-attr,
body .hljs-attribute,
body .hljs-literal,
body .hljs-meta,
body .hljs-number,
body .hljs-operator,
body .hljs-variable,
body .hljs-selector-attr,
body .hljs-selector-class,
body .hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #6cb6ff;
}

body .hljs-regexp,
body .hljs-string,
body .hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #96d0ff;
}

body .hljs-built_in,
body .hljs-symbol {
  /* prettylights-syntax-variable */
  color: #f69d50;
}

body .hljs-comment,
body .hljs-code,
body .hljs-formula {
  /* prettylights-syntax-comment */
  color: #768390;
}

body .hljs-name,
body .hljs-quote,
body .hljs-selector-tag,
body .hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #8ddb8c;
}

body .hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #adbac7;
}

body .hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #316dca;
  font-weight: bold;
}

body .hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #eac55f;
}

body .hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #adbac7;
  font-style: italic;
}

body .hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #adbac7;
  font-weight: bold;
}

body .hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #b4f1b4;
  background-color: #1b4721;
}

body .hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #ffd8d3;
  background-color: #78191b;
}

body .hljs-char.escape_,
body .hljs-link,
body .hljs-params,
body .hljs-property,
body .hljs-punctuation,
body .hljs-tag {
  /* purposely ignored */
}
