/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

body .hljs-comment,
body .hljs-quote {
  color: #998;
  font-style: italic;
}

body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-subst {
  color: #333;
  font-weight: bold;
}

body .hljs-number,
body .hljs-literal,
body .hljs-variable,
body .hljs-template-variable,
body .hljs-tag .hljs-attr {
  color: #008080;
}

body .hljs-string,
body .hljs-doctag {
  color: #d14;
}

body .hljs-title,
body .hljs-section,
body .hljs-selector-id {
  color: #900;
  font-weight: bold;
}

body .hljs-subst {
  font-weight: normal;
}

body .hljs-type,
body .hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

body .hljs-tag,
body .hljs-name,
body .hljs-attribute {
  color: #000080;
  font-weight: normal;
}

body .hljs-regexp,
body .hljs-link {
  color: #009926;
}

body .hljs-symbol,
body .hljs-bullet {
  color: #990073;
}

body .hljs-built_in,
body .hljs-builtin-name {
  color: #0086b3;
}

body .hljs-meta {
  color: #999;
  font-weight: bold;
}

body .hljs-deletion {
  background: #fdd;
}

body .hljs-addition {
  background: #dfd;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
