/*

GML Theme - Meseta <meseta@gmail.com>

*/

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #222222;
  color: #c0c0c0;
}

body .hljs-keyword {
  color: #ffb871;
  font-weight: bold;
}

body .hljs-built_in {
  color: #ffb871;
}

body .hljs-literal {
  color: #ff8080;
}

body .hljs-symbol {
  color: #58e55a;
}

body .hljs-comment {
  color: #5b995b;
}

body .hljs-string {
  color: #ffff00;
}

body .hljs-number {
  color: #ff8080;
}

body .hljs-attribute,
body .hljs-selector-tag,
body .hljs-doctag,
body .hljs-name,
body .hljs-bullet,
body .hljs-code,
body .hljs-addition,
body .hljs-regexp,
body .hljs-variable,
body .hljs-template-variable,
body .hljs-link,
body .hljs-selector-attr,
body .hljs-selector-pseudo,
body .hljs-type,
body .hljs-selector-id,
body .hljs-selector-class,
body .hljs-quote,
body .hljs-template-tag,
body .hljs-deletion,
body .hljs-title,
body .hljs-section,
body .hljs-function,
body .hljs-meta-keyword,
body .hljs-meta,
body .hljs-subst {
  color: #c0c0c0;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
