/*

Google Code style (c) Aahan Krish <geekpanth3r@gmail.com>

*/

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: white;
  color: black;
}

body .hljs-comment,
body .hljs-quote {
  color: #800;
}

body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-section,
body .hljs-title,
body .hljs-name {
  color: #008;
}

body .hljs-variable,
body .hljs-template-variable {
  color: #660;
}

body .hljs-string,
body .hljs-selector-attr,
body .hljs-selector-pseudo,
body .hljs-regexp {
  color: #080;
}

body .hljs-literal,
body .hljs-symbol,
body .hljs-bullet,
body .hljs-meta,
body .hljs-number,
body .hljs-link {
  color: #066;
}

body .hljs-title,
body .hljs-doctag,
body .hljs-type,
body .hljs-attr,
body .hljs-built_in,
body .hljs-builtin-name,
body .hljs-params {
  color: #606;
}

body .hljs-attribute,
body .hljs-subst {
  color: #000;
}

body .hljs-formula {
  background-color: #eee;
  font-style: italic;
}

body .hljs-selector-id,
body .hljs-selector-class {
  color: #9b703f;
}

body .hljs-addition {
  background-color: #baeeba;
}

body .hljs-deletion {
  background-color: #ffc8bd;
}

body .hljs-doctag,
body .hljs-strong {
  font-weight: bold;
}

body .hljs-emphasis {
  font-style: italic;
}
