/*

Gradient Light (c) Samia Ali <samiaab1990@gmail.com>

*/

body .hljs
{
background-color: #f9ccff;
background-image: linear-gradient(295deg, #f9ccff 0%, #e6bbf9 11%, #9ec6f9 32%, #55e6ee 60%, #91f5d1 74%, #f9ffbf 98%);
color:#250482;
}

body .hljs-subtr{
color:#01958B;
}

body .hljs-doctag,
body .hljs-meta,
body .hljs-comment,
body .hljs-quote
{
  color:#CB7200;
}

body .hljs-selector-tag,
body .hljs-selector-id,
body .hljs-template-tag,
body .hljs-regexp,
body .hljs-attr,
body .hljs-tag
{
  color:#07BD5F;
}

body .hljs-params,
body .hljs-selector-class,
body .hljs-bullet

{
  color:#43449F;

}

body .hljs-keyword,
body .hljs-section,
body .hljs-meta .hljs-keyword,


body .hljs-symbol,
body .hljs-type

{

  color:#7D2801;
}

body .hljs-addition,
body .hljs-number,
body .hljs-link
{
  color:#7F0096;
}


body .hljs-string
{
  color: #2681ab;
}


body .hljs-attribute,
body .hljs-addition
{
  color:#296562;
}

body .hljs-variable,
body .hljs-template-variable

{
  color:#025C8F;
}

body .hljs-built_in,
body .hljs-formula,
body .hljs-name,
body .hljs-title,
body .hljs-class,
body .hljs-function
{
  color: #529117;

}

body .hljs-selector-pseudo,
body .hljs-deletion,
body .hljs-literal
{
  color:#AD13FF;

}

body .hljs-emphasis,
body .hljs-quote
{
  font-style:italic;
}

body .hljs-params,
body .hljs-selector-class,
body .hljs-strong,
body .hljs-selector-tag,
body .hljs-selector-id,
body .hljs-template-tag,
body .hljs-section,
body .hljs-keyword
{
  font-weight:bold;
}








