/*

Gradient Dark (c) Samia Ali <samiaab1990@gmail.com>

*/

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: rgb(80, 31, 122);
  background: linear-gradient(
    166deg,
    rgba(80, 31, 122, 1) 0%,
    rgba(40, 32, 179, 1) 80%
  );
  color: #e7e4eb;
}

body .hljs-subtr {
  color: #e7e4eb;
}

body .hljs-doctag,
body .hljs-meta,
body .hljs-comment,
body .hljs-quote {
  color: #af8dd9;
}

body .hljs-selector-tag,
body .hljs-selector-id,
body .hljs-template-tag,
body .hljs-regexp,
body .hljs-attr,
body .hljs-tag {
  color: #aefbff;
}

body .hljs-params,
body .hljs-selector-class,
body .hljs-bullet {
  color: #f19fff;
}

body .hljs-keyword,
body .hljs-section,
body .hljs-meta-keyword,
body .hljs-symbol,
body .hljs-type {
  color: #17fc95;
}

body .hljs-addition,
body .hljs-number,
body .hljs-link {
  color: #c5fe00;
}

body .hljs-string {
  color: #38c0ff;
}

body .hljs-attribute,
body .hljs-addition {
  color: #e7ff9f;
}

body .hljs-variable,
body .hljs-template-variable {
  color: #e447ff;
}

body .hljs-builtin-name,
body .hljs-built_in,
body .hljs-formula,
body .hljs-name,
body .hljs-title,
body .hljs-class,
body .hljs-function {
  color: #ffc800;
}

body .hljs-selector-pseudo,
body .hljs-deletion,
body .hljs-literal {
  color: #ff9e44;
}

body .hljs-emphasis,
body .hljs-quote {
  font-style: italic;
}

body .hljs-params,
body .hljs-selector-class,
body .hljs-strong,
body .hljs-selector-tag,
body .hljs-selector-id,
body .hljs-template-tag,
body .hljs-section,
body .hljs-keyword {
  font-weight: bold;
}
