/*

grayscale style (c) MY Sun <simonmysun@gmail.com>

*/

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #fff;
}

body .hljs-comment,
body .hljs-quote {
  color: #777;
  font-style: italic;
}

body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-subst {
  color: #333;
  font-weight: bold;
}

body .hljs-number,
body .hljs-literal {
  color: #777;
}

body .hljs-string,
body .hljs-doctag,
body .hljs-formula {
  color: #333;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQIW2O8e/fufwYGBgZBQUEQxcCIIfDu3Tuwivfv30NUoAsAALHpFMMLqZlPAAAAAElFTkSuQmCC)
    repeat;
}

body .hljs-title,
body .hljs-section,
body .hljs-selector-id {
  color: #000;
  font-weight: bold;
}

body .hljs-subst {
  font-weight: normal;
}

body .hljs-class .hljs-title,
body .hljs-type,
body .hljs-name {
  color: #333;
  font-weight: bold;
}

body .hljs-tag {
  color: #333;
}

body .hljs-regexp {
  color: #333;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQYV2NkQAN37979r6yszIgujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J2A2EqUQpJhohQDexSef15DBCwAAAABJRU5ErkJggg==)
    repeat;
}

body .hljs-symbol,
body .hljs-bullet,
body .hljs-link {
  color: #000;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAO7d+/+z4gsBhJwdXVlhAvCBECKwIIwAbhKZBUwBQA6hBpm5efZsgAAAABJRU5ErkJggg==)
    repeat;
}

body .hljs-built_in,
body .hljs-builtin-name {
  color: #000;
  text-decoration: underline;
}

body .hljs-meta {
  color: #999;
  font-weight: bold;
}

body .hljs-deletion {
  color: #fff;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAE0lEQVQIW2MMDQ39zzhz5kwIAQAyxweWgUHd1AAAAABJRU5ErkJggg==)
    repeat;
}

body .hljs-addition {
  color: #000;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAALUlEQVQYV2N89+7dfwYk8P79ewZBQUFkIQZGOiu6e/cuiptQHAPl0NtNxAQBAM97Oejj3Dg7AAAAAElFTkSuQmCC)
    repeat;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
