/*

Gruvbox style (dark) (c) Pavel Pertsev (original style at https://github.com/morhetz/gruvbox)

*/

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #282828;
}

body .hljs,
body .hljs-subst {
  color: #ebdbb2;
}

/* Gruvbox Red */
body .hljs-deletion,
body .hljs-formula,
body .hljs-keyword,
body .hljs-link,
body .hljs-selector-tag {
  color: #fb4934;
}

/* Gruvbox Blue */
body .hljs-built_in,
body .hljs-emphasis,
body .hljs-name,
body .hljs-quote,
body .hljs-strong,
body .hljs-title,
body .hljs-variable {
  color: #83a598;
}

/* Gruvbox Yellow */
body .hljs-attr,
body .hljs-params,
body .hljs-template-tag,
body .hljs-type {
  color: #fabd2f;
}

/* Gruvbox Purple */
body .hljs-builtin-name,
body .hljs-doctag,
body .hljs-literal,
body .hljs-number {
  color: #8f3f71;
}

/* Gruvbox Orange */
body .hljs-code,
body .hljs-meta,
body .hljs-regexp,
body .hljs-selector-id,
body .hljs-template-variable {
  color: #fe8019;
}

/* Gruvbox Green */
body .hljs-addition,
body .hljs-meta-string,
body .hljs-section,
body .hljs-selector-attr,
body .hljs-selector-class,
body .hljs-string,
body .hljs-symbol {
  color: #b8bb26;
}

/* Gruvbox Aqua */
body .hljs-attribute,
body .hljs-bullet,
body .hljs-class,
body .hljs-function,
body .hljs-function .hljs-keyword,
body .hljs-meta-keyword,
body .hljs-selector-pseudo,
body .hljs-tag {
  color: #8ec07c;
}

/* Gruvbox Gray */
body .hljs-comment {
  color: #928374;
}

/* Gruvbox Purple */
body .hljs-link_label,
body .hljs-literal,
body .hljs-number {
  color: #d3869b;
}

body .hljs-comment,
body .hljs-emphasis {
  font-style: italic;
}

body .hljs-section,
body .hljs-strong,
body .hljs-tag {
  font-weight: bold;
}
