/*

Intellij Idea-like styling (c) Vasily Polovnyov <vast@whiteants.net>

*/

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #000;
  background: #fff;
}

body .hljs-subst,
body .hljs-title {
  font-weight: normal;
  color: #000;
}

body .hljs-comment,
body .hljs-quote {
  color: #808080;
  font-style: italic;
}

body .hljs-meta {
  color: #808000;
}

body .hljs-tag {
  background: #efefef;
}

body .hljs-section,
body .hljs-name,
body .hljs-literal,
body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-type,
body .hljs-selector-id,
body .hljs-selector-class {
  font-weight: bold;
  color: #000080;
}

body .hljs-attribute,
body .hljs-number,
body .hljs-regexp,
body .hljs-link {
  font-weight: bold;
  color: #0000ff;
}

body .hljs-number,
body .hljs-regexp,
body .hljs-link {
  font-weight: normal;
}

body .hljs-string {
  color: #008000;
  font-weight: bold;
}

body .hljs-symbol,
body .hljs-bullet,
body .hljs-formula {
  color: #000;
  background: #d0eded;
  font-style: italic;
}

body .hljs-doctag {
  text-decoration: underline;
}

body .hljs-variable,
body .hljs-template-variable {
  color: #660e7a;
}

body .hljs-addition {
  background: #baeeba;
}

body .hljs-deletion {
  background: #ffc8bd;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
