/*
  IR_Black style (c) Vasily Mikhailitchenko <vaskas@programica.ru>
*/

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #000;
  color: #f8f8f8;
}

body .hljs-comment,
body .hljs-quote,
body .hljs-meta {
  color: #7c7c7c;
}

body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-tag,
body .hljs-name {
  color: #96cbfe;
}

body .hljs-attribute,
body .hljs-selector-id {
  color: #ffffb6;
}

body .hljs-string,
body .hljs-selector-attr,
body .hljs-selector-pseudo,
body .hljs-addition {
  color: #a8ff60;
}

body .hljs-subst {
  color: #daefa3;
}

body .hljs-regexp,
body .hljs-link {
  color: #e9c062;
}

body .hljs-title,
body .hljs-section,
body .hljs-type,
body .hljs-doctag {
  color: #ffffb6;
}

body .hljs-symbol,
body .hljs-bullet,
body .hljs-variable,
body .hljs-template-variable,
body .hljs-literal {
  color: #c6c5fe;
}

body .hljs-number,
body .hljs-deletion {
  color: #ff73fd;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
