/*

ISBL Editor style dark color scheme (c) Dmitriy Tarasov <dimatar@gmail.com>

*/

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #404040;
  color: #f0f0f0;
}

/* Base color: saturation 0; */

body .hljs,
body .hljs-subst {
  color: #f0f0f0;
}

body .hljs-comment {
  color: #b5b5b5;
  font-style: italic;
}

body .hljs-keyword,
body .hljs-attribute,
body .hljs-selector-tag,
body .hljs-meta-keyword,
body .hljs-doctag,
body .hljs-name {
  color: #f0f0f0;
  font-weight: bold;
}

/* User color: hue: 0 */

body .hljs-string {
  color: #97bf0d;
}

body .hljs-type,
body .hljs-number,
body .hljs-selector-id,
body .hljs-selector-class,
body .hljs-quote,
body .hljs-template-tag,
body .hljs-deletion {
  color: #f0f0f0;
}

body .hljs-title,
body .hljs-section {
  color: #df471e;
}

body .hljs-title > .hljs-built_in {
  color: #81bce9;
  font-weight: normal;
}

body .hljs-regexp,
body .hljs-symbol,
body .hljs-variable,
body .hljs-template-variable,
body .hljs-link,
body .hljs-selector-attr,
body .hljs-selector-pseudo {
  color: #e2c696;
}

/* Language color: hue: 90; */

body .hljs-built_in,
body .hljs-literal {
  color: #97bf0d;
  font-weight: bold;
}

body .hljs-bullet,
body .hljs-code,
body .hljs-addition {
  color: #397300;
}

body .hljs-class {
  color: #ce9d4d;
  font-weight: bold;
}

/* Meta color: hue: 200 */

body .hljs-meta {
  color: #1f7199;
}

body .hljs-meta-string {
  color: #4d99bf;
}

/* Misc effects */

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
