/*
    Name:     Kimbie (dark)
    Author:   Jan T. Sott
    License:  Creative Commons Attribution-ShareAlike 4.0 Unported License
    URL:      https://github.com/idleberg/Kimbie-highlight.js
*/

/* Kimbie Comment */
body .hljs-comment,
body .hljs-quote {
  color: #d6baad;
}

/* Kimbie Red */
body .hljs-variable,
body .hljs-template-variable,
body .hljs-tag,
body .hljs-name,
body .hljs-selector-id,
body .hljs-selector-class,
body .hljs-regexp,
body .hljs-meta {
  color: #dc3958;
}

/* Kimbie Orange */
body .hljs-number,
body .hljs-built_in,
body .hljs-builtin-name,
body .hljs-literal,
body .hljs-type,
body .hljs-params,
body .hljs-deletion,
body .hljs-link {
  color: #f79a32;
}

/* Kimbie Yellow */
body .hljs-title,
body .hljs-section,
body .hljs-attribute {
  color: #f06431;
}

/* Kimbie Green */
body .hljs-string,
body .hljs-symbol,
body .hljs-bullet,
body .hljs-addition {
  color: #889b4a;
}

/* Kimbie Purple */
body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-function {
  color: #98676a;
}

body .hljs {
  display: block;
  overflow-x: auto;
  background: #221a0f;
  color: #d3af86;
  padding: 0.5em;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
