/*

Lightfair style (c) Tristian Kelly <tristian.kelly560@gmail.com>

*/

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  /* TODO: background? */
}

body .hljs-name {
  color: #01a3a3;
}

body .hljs-tag,
body .hljs-meta {
  color: #778899;
}

body .hljs,
body .hljs-subst {
  color: #444;
}

body .hljs-comment {
  color: #888888;
}

body .hljs-keyword,
body .hljs-attribute,
body .hljs-selector-tag,
body .hljs-meta-keyword,
body .hljs-doctag,
body .hljs-name {
  font-weight: bold;
}

body .hljs-type,
body .hljs-string,
body .hljs-number,
body .hljs-selector-id,
body .hljs-selector-class,
body .hljs-quote,
body .hljs-template-tag,
body .hljs-deletion {
  color: #4286f4;
}

body .hljs-title,
body .hljs-section {
  color: #4286f4;
  font-weight: bold;
}

body .hljs-regexp,
body .hljs-symbol,
body .hljs-variable,
body .hljs-template-variable,
body .hljs-link,
body .hljs-selector-attr,
body .hljs-selector-pseudo {
  color: #bc6060;
}

body .hljs-literal {
  color: #62bcbc;
}

body .hljs-built_in,
body .hljs-bullet,
body .hljs-code,
body .hljs-addition {
  color: #25c6c6;
}

body .hljs-meta-string {
  color: #4d99bf;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
