/*
Description: Magula style for highligh.js
Author: Ruslan Keba <rukeba@gmail.com>
Website: http://rukeba.com/
Version: 1.0
Date: 2009-01-03
Music: Aphex Twin / Xtal
*/

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background-color: #f4f4f4;
  color: black;
}

body .hljs-subst {
  color: black;
}

body .hljs-string,
body .hljs-title,
body .hljs-symbol,
body .hljs-bullet,
body .hljs-attribute,
body .hljs-addition,
body .hljs-variable,
body .hljs-template-tag,
body .hljs-template-variable {
  color: #050;
}

body .hljs-comment,
body .hljs-quote {
  color: #777;
}

body .hljs-number,
body .hljs-regexp,
body .hljs-literal,
body .hljs-type,
body .hljs-link {
  color: #800;
}

body .hljs-deletion,
body .hljs-meta {
  color: #00e;
}

body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-doctag,
body .hljs-title,
body .hljs-section,
body .hljs-built_in,
body .hljs-tag,
body .hljs-name {
  font-weight: bold;
  color: navy;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
