/*
  Five-color theme from a single blue hue.
*/
body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #eaeef3;
  color: #00193a;
}

body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-title,
body .hljs-section,
body .hljs-doctag,
body .hljs-name,
body .hljs-strong {
  font-weight: bold;
}

body .hljs-comment {
  color: #738191;
}

body .hljs-string,
body .hljs-title,
body .hljs-section,
body .hljs-built_in,
body .hljs-literal,
body .hljs-type,
body .hljs-addition,
body .hljs-tag,
body .hljs-quote,
body .hljs-name,
body .hljs-selector-id,
body .hljs-selector-class {
  color: #0048ab;
}

body .hljs-meta,
body .hljs-subst,
body .hljs-symbol,
body .hljs-regexp,
body .hljs-attribute,
body .hljs-deletion,
body .hljs-variable,
body .hljs-template-variable,
body .hljs-link,
body .hljs-bullet {
  color: #4c81c9;
}

body .hljs-emphasis {
  font-style: italic;
}
