/**
 * Obsidian style
 * ported by Alexander Marenin (http://github.com/ioncreature)
 */

body .hljs {
  color: #e0e2e4;
  background: #282b2e;
}

body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-literal,
body .hljs-selector-id {
  color: #93c763;
}

body .hljs-number {
  color: #ffcd22;
}

body .hljs-attribute {
  color: #668bb0;
}

body .hljs-regexp,
body .hljs-link {
  color: #d39745;
}

body .hljs-meta {
  color: #557182;
}

body .hljs-tag,
body .hljs-name,
body .hljs-bullet,
body .hljs-subst,
body .hljs-emphasis,
body .hljs-type,
body .hljs-built_in,
body .hljs-selector-attr,
body .hljs-selector-pseudo,
body .hljs-addition,
body .hljs-variable,
body .hljs-template-tag,
body .hljs-template-variable {
  color: #8cbbad;
}

body .hljs-string,
body .hljs-symbol {
  color: #ec7600;
}

body .hljs-comment,
body .hljs-quote,
body .hljs-deletion {
  color: #818e96;
}

body .hljs-selector-class {
  color: #A082BD
}

body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-literal,
body .hljs-doctag,
body .hljs-title,
body .hljs-section,
body .hljs-type,
body .hljs-name,
body .hljs-strong {
  font-weight: bold;
}

body .hljs-code,
body .hljs-title.class_,
body .hljs-class .hljs-title,
body .hljs-section {
  color: white;
}
