/*
    Paraíso (light)
    Created by Jan T. Sott (http://github.com/idleberg)
    Inspired by the art of Rubens LP (http://www.rubenslp.com.br)
*/

/* Paraíso Comment */
body .hljs-comment,
body .hljs-quote {
  color: #776e71;
}

/* Paraíso Red */
body .hljs-variable,
body .hljs-template-variable,
body .hljs-tag,
body .hljs-name,
body .hljs-selector-id,
body .hljs-selector-class,
body .hljs-regexp,
body .hljs-link,
body .hljs-meta {
  color: #ef6155;
}

/* Paraíso Orange */
body .hljs-number,
body .hljs-built_in,
body .hljs-builtin-name,
body .hljs-literal,
body .hljs-type,
body .hljs-params,
body .hljs-deletion {
  color: #f99b15;
}

/* Paraíso Yellow */
body .hljs-title,
body .hljs-section,
body .hljs-attribute {
  color: #fec418;
}

/* Paraíso Green */
body .hljs-string,
body .hljs-symbol,
body .hljs-bullet,
body .hljs-addition {
  color: #48b685;
}

/* Paraíso Purple */
body .hljs-keyword,
body .hljs-selector-tag {
  color: #815ba4;
}

body .hljs {
  display: block;
  overflow-x: auto;
  background: #e7e9db;
  color: #4f424c;
  padding: 0.5em;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
