/*

Pojoaque Style by Jason Tate
http://web-cms-designs.com/ftopict-10-pojoaque-style-for-highlight-js-code-highlighter.html
Based on Solarized Style from http://ethanschoonover.com/solarized

*/

body .hljs {
  color: #dccf8f;
  background: url(./pojoaque.jpg) repeat scroll left top #181914;
}

body .hljs-comment,
body .hljs-quote {
  color: #586e75;
  font-style: italic;
}

body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-literal,
body .hljs-addition {
  color: #b64926;
}

body .hljs-number,
body .hljs-string,
body .hljs-doctag,
body .hljs-regexp {
  color: #468966;
}

body .hljs-title,
body .hljs-section,
body .hljs-built_in,
body .hljs-name {
  color: #ffb03b;
}

body .hljs-variable,
body .hljs-template-variable,
body .hljs-title.class_,
body .hljs-class .hljs-title,
body .hljs-type,
body .hljs-tag {
  color: #b58900;
}

body .hljs-attribute {
  color: #b89859;
}

body .hljs-symbol,
body .hljs-bullet,
body .hljs-link,
body .hljs-subst,
body .hljs-meta {
  color: #cb4b16;
}

body .hljs-deletion {
  color: #dc322f;
}

body .hljs-selector-id,
body .hljs-selector-class {
  color: #d3a60c;
}

body .hljs-formula {
  background: #073642;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
