/*

PureBASIC native IDE style ( version 1.0 - April 2016 )

by Tristano Ajmone <tajmone@gmail.com>

Public Domain

NOTE_1:	PureBASIC code syntax highlighting only applies the following classes:
			.hljs-comment
			.hljs-function
			.hljs-keywords
			.hljs-string
			.hljs-symbol

		Other classes are added here for the benefit of styling other languages with the look and feel of PureBASIC native IDE style.
		If you need to customize a stylesheet for PureBASIC only, remove all non-relevant classes -- PureBASIC-related classes are followed by
		a "--- used for PureBASIC ... ---" comment on same line.

NOTE_2:	Color names provided in comments were derived using "Name that Color" online tool:
			http://chir.ag/projects/name-that-color
*/

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #ffffdf; /* Half and Half (approx.) */
  /* --- Uncomment to add PureBASIC native IDE styled font!
	font-family: Consolas;
*/
}

body .hljs, /* --- used for PureBASIC base color --- */
body .hljs-type,  /* --- used for PureBASIC Procedures return type --- */
body .hljs-function, /* --- used for wrapping PureBASIC Procedures definitions --- */
body .hljs-name,
body .hljs-number,
body .hljs-attr,
body .hljs-params,
body .hljs-subst {
  color: #000000; /* Black */
}

body .hljs-comment, /* --- used for PureBASIC Comments --- */
body .hljs-regexp,
body .hljs-section,
body .hljs-selector-pseudo,
body .hljs-addition {
  color: #00aaaa; /* Persian Green (approx.) */
}

body .hljs-title, /* --- used for PureBASIC Procedures Names --- */
body .hljs-tag,
body .hljs-variable,
body .hljs-code {
  color: #006666; /* Blue Stone (approx.) */
}

body .hljs-keyword, /* --- used for PureBASIC Keywords --- */
body .hljs-class,
body .hljs-meta-keyword,
body .hljs-selector-class,
body .hljs-built_in,
body .hljs-builtin-name {
  color: #006666; /* Blue Stone (approx.) */
  font-weight: bold;
}

body .hljs-string, /* --- used for PureBASIC Strings --- */
body .hljs-selector-attr {
  color: #0080ff; /* Azure Radiance (approx.) */
}

body .hljs-symbol, /* --- used for PureBASIC Constants --- */
body .hljs-link,
body .hljs-deletion,
body .hljs-attribute {
  color: #924b72; /* Cannon Pink (approx.) */
}

body .hljs-meta,
body .hljs-literal,
body .hljs-selector-id {
  color: #924b72; /* Cannon Pink (approx.) */
  font-weight: bold;
}

body .hljs-strong,
body .hljs-name {
  font-weight: bold;
}

body .hljs-emphasis {
  font-style: italic;
}
