/*

Railscasts-like style (c) Visoft, Inc. (Damien White)

*/

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #232323;
  color: #e6e1dc;
}

body .hljs-comment,
body .hljs-quote {
  color: #bc9458;
  font-style: italic;
}

body .hljs-keyword,
body .hljs-selector-tag {
  color: #c26230;
}

body .hljs-string,
body .hljs-number,
body .hljs-regexp,
body .hljs-variable,
body .hljs-template-variable {
  color: #a5c261;
}

body .hljs-subst {
  color: #519f50;
}

body .hljs-tag,
body .hljs-name {
  color: #e8bf6a;
}

body .hljs-type {
  color: #da4939;
}

body .hljs-symbol,
body .hljs-bullet,
body .hljs-built_in,
body .hljs-builtin-name,
body .hljs-attr,
body .hljs-link {
  color: #6d9cbe;
}

body .hljs-params {
  color: #d0d0ff;
}

body .hljs-attribute {
  color: #cda869;
}

body .hljs-meta {
  color: #9b859d;
}

body .hljs-title,
body .hljs-section {
  color: #ffc66d;
}

body .hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

body .hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

body .hljs-selector-class {
  color: #9b703f;
}

body .hljs-selector-id {
  color: #8b98ab;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}

body .hljs-link {
  text-decoration: underline;
}
