/*

Style with support for rainbow parens

*/

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #474949;
  color: #d1d9e1;
}

body .hljs-comment,
body .hljs-quote {
  color: #969896;
  font-style: italic;
}

body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-literal,
body .hljs-type,
body .hljs-addition {
  color: #cc99cc;
}

body .hljs-number,
body .hljs-selector-attr,
body .hljs-selector-pseudo {
  color: #f99157;
}

body .hljs-string,
body .hljs-doctag,
body .hljs-regexp {
  color: #8abeb7;
}

body .hljs-title,
body .hljs-name,
body .hljs-section,
body .hljs-built_in {
  color: #b5bd68;
}

body .hljs-variable,
body .hljs-template-variable,
body .hljs-selector-id,
body .hljs-class .hljs-title {
  color: #ffcc66;
}

body .hljs-section,
body .hljs-name,
body .hljs-strong {
  font-weight: bold;
}

body .hljs-symbol,
body .hljs-bullet,
body .hljs-subst,
body .hljs-meta,
body .hljs-link {
  color: #f99157;
}

body .hljs-deletion {
  color: #dc322f;
}

body .hljs-formula {
  background: #eee8d5;
}

body .hljs-attr,
body .hljs-attribute {
  color: #81a2be;
}

body .hljs-emphasis {
  font-style: italic;
}
