/*

 highlight.js style for Microtik RouterOS script

*/

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #f0f0f0;
}

/* Base color: saturation 0; */

body .hljs,
body .hljs-subst {
  color: #444;
}

body .hljs-comment {
  color: #888888;
}

body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-meta-keyword,
body .hljs-doctag,
body .hljs-name {
  font-weight: bold;
}

body .hljs-attribute {
  color: #0e9a00;
}

body .hljs-function {
  color: #99069a;
}

body .hljs-builtin-name {
  color: #99069a;
}

/* User color: hue: 0 */

body .hljs-type,
body .hljs-string,
body .hljs-number,
body .hljs-selector-id,
body .hljs-selector-class,
body .hljs-quote,
body .hljs-template-tag,
body .hljs-deletion {
  color: #880000;
}

body .hljs-title,
body .hljs-section {
  color: #880000;
  font-weight: bold;
}

body .hljs-regexp,
body .hljs-symbol,
body .hljs-variable,
body .hljs-template-variable,
body .hljs-link,
body .hljs-selector-attr,
body .hljs-selector-pseudo {
  color: #bc6060;
}

/* Language color: hue: 90; */

body .hljs-literal {
  color: #78a960;
}

body .hljs-built_in,
body .hljs-bullet,
body .hljs-code,
body .hljs-addition {
  color: #0c9a9a;
}

/* Meta color: hue: 200 */

body .hljs-meta {
  color: #1f7199;
}

body .hljs-meta-string {
  color: #4d99bf;
}

/* Misc effects */

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
