/*

School Book style from goldblog.com.ua (c) Zaripov Yura <yur4ik7@ukr.net>

*/

body .hljs {
  color: #3e5915;
  background:#f6f5b2;
}

body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-literal {
  color:#005599;
  font-weight:bold;
}

body .hljs-subst {
  color: #3e5915;
}

body .hljs-string,
body .hljs-title,
body .hljs-section,
body .hljs-type,
body .hljs-symbol,
body .hljs-bullet,
body .hljs-attribute,
body .hljs-built_in,
body .hljs-addition,
body .hljs-variable,
body .hljs-template-tag,
body .hljs-template-variable,
body .hljs-link {
  color: #2c009f;
}

body .hljs-comment,
body .hljs-quote,
body .hljs-deletion,
body .hljs-meta {
  color: #e60415;
}

body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-literal,
body .hljs-doctag,
body .hljs-title,
body .hljs-section,
body .hljs-type,
body .hljs-name,
body .hljs-selector-id,
body .hljs-strong {
  font-weight: bold;
}

body .hljs-emphasis {
  font-style: italic;
}
