/**
 * Shades of Purple Theme — for Highlightjs.
 *
 * @author (c) Ahmad Awais <https://twitter.com/mrahmadawais/>
 * @link GitHub Repo → https://github.com/ahmadawais/Shades-of-Purple-HighlightJS
 * @version 1.5.0
 */

body .hljs {
  background: #2d2b57;
  color: #e3dfff;
  font-weight: normal;
}

body .hljs-subst {
  color: #e3dfff;
}

body .hljs-title {
  color: #fad000;
  font-weight: normal;
}

body .hljs-name {
  color: #a1feff;
}

body .hljs-tag {
  color: #ffffff;
}

body .hljs-attr {
  color: #f8d000;
  font-style: italic;
}

body .hljs-built_in,
body .hljs-selector-tag,
body .hljs-section {
  color: #fb9e00;
}

body .hljs-keyword {
  color: #fb9e00;
}

body .hljs-string,
body .hljs-attribute,
body .hljs-symbol,
body .hljs-bullet,
body .hljs-addition,
body .hljs-code,
body .hljs-regexp,
body .hljs-selector-class,
body .hljs-selector-attr,
body .hljs-selector-pseudo,
body .hljs-template-tag,
body .hljs-quote,
body .hljs-deletion {
  color: #4cd213;
}

body .hljs-meta,
body .hljs-meta .hljs-string {
  color: #fb9e00;
}

body .hljs-comment {
  color: #ac65ff;
}

body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-literal,
body .hljs-name,
body .hljs-strong {
  font-weight: normal;
}

body .hljs-literal,
body .hljs-number {
  color: #fa658d;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
