/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #002b36;
  color: #839496;
}

body .hljs-comment,
body .hljs-quote {
  color: #586e75;
}

/* Solarized Green */
body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-addition {
  color: #859900;
}

/* Solarized Cyan */
body .hljs-number,
body .hljs-string,
body .hljs-meta .hljs-meta-string,
body .hljs-literal,
body .hljs-doctag,
body .hljs-regexp {
  color: #2aa198;
}

/* Solarized Blue */
body .hljs-title,
body .hljs-section,
body .hljs-name,
body .hljs-selector-id,
body .hljs-selector-class {
  color: #268bd2;
}

/* Solarized Yellow */
body .hljs-attribute,
body .hljs-attr,
body .hljs-variable,
body .hljs-template-variable,
body .hljs-class .hljs-title,
body .hljs-type {
  color: #b58900;
}

/* Solarized Orange */
body .hljs-symbol,
body .hljs-bullet,
body .hljs-subst,
body .hljs-meta,
body .hljs-meta .hljs-keyword,
body .hljs-selector-attr,
body .hljs-selector-pseudo,
body .hljs-link {
  color: #cb4b16;
}

/* Solarized Red */
body .hljs-built_in,
body .hljs-deletion {
  color: #dc322f;
}

body .hljs-formula {
  background: #073642;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
