/* Tomorrow Night Bright Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
body .hljs-comment,
body .hljs-quote {
  color: #969896;
}

/* Tomorrow Red */
body .hljs-variable,
body .hljs-template-variable,
body .hljs-tag,
body .hljs-name,
body .hljs-selector-id,
body .hljs-selector-class,
body .hljs-regexp,
body .hljs-deletion {
  color: #d54e53;
}

/* Tomorrow Orange */
body .hljs-number,
body .hljs-built_in,
body .hljs-literal,
body .hljs-type,
body .hljs-params,
body .hljs-meta,
body .hljs-link {
  color: #e78c45;
}

/* Tomorrow Yellow */
body .hljs-attribute {
  color: #e7c547;
}

/* Tomorrow Green */
body .hljs-string,
body .hljs-symbol,
body .hljs-bullet,
body .hljs-addition {
  color: #b9ca4a;
}

/* Tomorrow Blue */
body .hljs-title,
body .hljs-section {
  color: #7aa6da;
}

/* Tomorrow Purple */
body .hljs-keyword,
body .hljs-selector-tag {
  color: #c397d8;
}

body .hljs {
  background: black;
  color: #eaeaea;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
