/* Tomorrow Night Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
body .hljs-comment,
body .hljs-quote {
  color: #969896;
}

/* Tomorrow Red */
body .hljs-variable,
body .hljs-template-variable,
body .hljs-tag,
body .hljs-name,
body .hljs-selector-id,
body .hljs-selector-class,
body .hljs-regexp,
body .hljs-deletion {
  color: #cc6666;
}

/* Tomorrow Orange */
body .hljs-number,
body .hljs-built_in,
body .hljs-builtin-name,
body .hljs-literal,
body .hljs-type,
body .hljs-params,
body .hljs-meta,
body .hljs-link {
  color: #de935f;
}

/* Tomorrow Yellow */
body .hljs-attribute {
  color: #f0c674;
}

/* Tomorrow Green */
body .hljs-string,
body .hljs-symbol,
body .hljs-bullet,
body .hljs-addition {
  color: #b5bd68;
}

/* Tomorrow Blue */
body .hljs-title,
body .hljs-section {
  color: #81a2be;
}

/* Tomorrow Purple */
body .hljs-keyword,
body .hljs-selector-tag {
  color: #b294bb;
}

body .hljs {
  display: block;
  overflow-x: auto;
  background: #1d1f21;
  color: #c5c8c6;
  padding: 0.5em;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
