/* Tomorrow Night Blue Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
body .hljs-comment,
body .hljs-quote {
  color: #7285b7;
}

/* Tomorrow Red */
body .hljs-variable,
body .hljs-template-variable,
body .hljs-tag,
body .hljs-name,
body .hljs-selector-id,
body .hljs-selector-class,
body .hljs-regexp,
body .hljs-deletion {
  color: #ff9da4;
}

/* Tomorrow Orange */
body .hljs-number,
body .hljs-built_in,
body .hljs-builtin-name,
body .hljs-literal,
body .hljs-type,
body .hljs-params,
body .hljs-meta,
body .hljs-link {
  color: #ffc58f;
}

/* Tomorrow Yellow */
body .hljs-attribute {
  color: #ffeead;
}

/* Tomorrow Green */
body .hljs-string,
body .hljs-symbol,
body .hljs-bullet,
body .hljs-addition {
  color: #d1f1a9;
}

/* Tomorrow Blue */
body .hljs-title,
body .hljs-section {
  color: #bbdaff;
}

/* Tomorrow Purple */
body .hljs-keyword,
body .hljs-selector-tag {
  color: #ebbbff;
}

body .hljs {
  display: block;
  overflow-x: auto;
  background: #002451;
  color: white;
  padding: 0.5em;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
