/*

Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>

*/
body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: white;
  color: black;
}

body .hljs-comment,
body .hljs-quote,
body .hljs-variable {
  color: #008000;
}

body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-built_in,
body .hljs-name,
body .hljs-tag {
  color: #00f;
}

body .hljs-string,
body .hljs-title,
body .hljs-section,
body .hljs-attribute,
body .hljs-literal,
body .hljs-template-tag,
body .hljs-template-variable,
body .hljs-type,
body .hljs-addition {
  color: #a31515;
}

body .hljs-deletion,
body .hljs-selector-attr,
body .hljs-selector-pseudo,
body .hljs-meta {
  color: #2b91af;
}

body .hljs-doctag {
  color: #808080;
}

body .hljs-attr {
  color: #f00;
}

body .hljs-symbol,
body .hljs-bullet,
body .hljs-link {
  color: #00b0e8;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
