/*
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */

body .hljs {
  background: #1E1E1E;
  color: #DCDCDC;
}

body .hljs-keyword,
body .hljs-literal,
body .hljs-symbol,
body .hljs-name {
  color: #569CD6;
}
body .hljs-link {
  color: #569CD6;
  text-decoration: underline;
}

body .hljs-built_in,
body .hljs-type {
  color: #4EC9B0;
}

body .hljs-number,
body .hljs-class {
  color: #B8D7A3;
}

body .hljs-string,
body .hljs-meta .hljs-string {
  color: #D69D85;
}

body .hljs-regexp,
body .hljs-template-tag {
  color: #9A5334;
}

body .hljs-subst,
body .hljs-function,
body .hljs-title,
body .hljs-params,
body .hljs-formula {
  color: #DCDCDC;
}

body .hljs-comment,
body .hljs-quote {
  color: #57A64A;
  font-style: italic;
}

body .hljs-doctag {
  color: #608B4E;
}

body .hljs-meta,
body .hljs-meta .hljs-keyword,

body .hljs-tag {
  color: #9B9B9B;
}

body .hljs-variable,
body .hljs-template-variable {
  color: #BD63C5;
}

body .hljs-attr,
body .hljs-attribute {
  color: #9CDCFE;
}

body .hljs-section {
  color: gold;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}

/*.hljs-code {
  font-family:'Monospace';
}*/

body .hljs-bullet,
body .hljs-selector-tag,
body .hljs-selector-id,
body .hljs-selector-class,
body .hljs-selector-attr,
body .hljs-selector-pseudo {
  color: #D7BA7D;
}

body .hljs-addition {
  background-color: #144212;
  display: inline-block;
  width: 100%;
}

body .hljs-deletion {
  background-color: #600;
  display: inline-block;
  width: 100%;
}
