/*

XCode style (c) Angel Garcia <angelgarcia.mail@gmail.com>

*/

body .hljs {
  background: #fff;
  color: black;
}

/* Gray DOCTYPE selectors like WebKit */
body .xml .hljs-meta {
  color: #c0c0c0;
}

body .hljs-comment,
body .hljs-quote {
  color: #007400;
}

body .hljs-tag,
body .hljs-attribute,
body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-literal,
body .hljs-name {
  color: #aa0d91;
}

body .hljs-variable,
body .hljs-template-variable {
  color: #3F6E74;
}

body .hljs-code,
body .hljs-string,
body .hljs-meta .hljs-string {
  color: #c41a16;
}

body .hljs-regexp,
body .hljs-link {
  color: #0E0EFF;
}

body .hljs-title,
body .hljs-symbol,
body .hljs-bullet,
body .hljs-number {
  color: #1c00cf;
}

body .hljs-section,
body .hljs-meta {
  color: #643820;
}


body .hljs-title.class_,
body .hljs-class .hljs-title,
body .hljs-type,
body .hljs-built_in,
body .hljs-params {
  color: #5c2699;
}

body .hljs-attr {
  color: #836C28;
}

body .hljs-subst {
  color: #000;
}

body .hljs-formula {
  background-color: #eee;
  font-style: italic;
}

body .hljs-addition {
  background-color: #baeeba;
}

body .hljs-deletion {
  background-color: #ffc8bd;
}

body .hljs-selector-id,
body .hljs-selector-class {
  color: #9b703f;
}

body .hljs-doctag,
body .hljs-strong {
  font-weight: bold;
}

body .hljs-emphasis {
  font-style: italic;
}
