/*

Zenburn style from voldmar.ru (c) Vladimir Epifanov <voldmar@voldmar.ru>
based on dark.css by Ivan Sagalaev

*/

body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #3f3f3f;
  color: #dcdcdc;
}

body .hljs-keyword,
body .hljs-selector-tag,
body .hljs-tag {
  color: #e3ceab;
}

body .hljs-template-tag {
  color: #dcdcdc;
}

body .hljs-number {
  color: #8cd0d3;
}

body .hljs-variable,
body .hljs-template-variable,
body .hljs-attribute {
  color: #efdcbc;
}

body .hljs-literal {
  color: #efefaf;
}

body .hljs-subst {
  color: #8f8f8f;
}

body .hljs-title,
body .hljs-name,
body .hljs-selector-id,
body .hljs-selector-class,
body .hljs-section,
body .hljs-type {
  color: #efef8f;
}

body .hljs-symbol,
body .hljs-bullet,
body .hljs-link {
  color: #dca3a3;
}

body .hljs-deletion,
body .hljs-string,
body .hljs-built_in,
body .hljs-builtin-name {
  color: #cc9393;
}

body .hljs-addition,
body .hljs-comment,
body .hljs-quote,
body .hljs-meta {
  color: #7f9f7f;
}

body .hljs-emphasis {
  font-style: italic;
}

body .hljs-strong {
  font-weight: bold;
}
